# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. numpy
3. Matplotlib

# table of Data Science tools
|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppeline|

### Below are a few examples of evaluating arithmetic expressions in Python.  

1. Addition: `5 + 3` results in `8`  
2. Subtraction: `10 - 4` results in `6`  
3. Multiplication: `7 * 6` results in `42`  
4. Division: `20 / 5` results in `4`  
5. Modulus: `10 % 3` results in `1`  
6. Exponentiation: `2 ** 3` results in `8`

In [12]:
# This is a simple arithmetic expression to multiply then add integers.  
result = (3 * 4) + 5  
result

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60.  
minutes=200  
hours=minutes/60  
hours

3.3333333333333335

**Objectives:** 

- Understand basic arithmetic operations in Python  
- Convert minutes to hours using a mathematical expression  
- Evaluate and display the results of mathematical computations  
- Learn how to create and format markdown cells in Jupyter notebooks  
- List popular languages for Data Science

## Author  

[Syed Huzafa Ali]